footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: .8rem;
    margin-top: 4em;
    padding-top: 2em;
    border-top: solid 1px black;

    & div {
        margin-bottom: 1rem;
    }

    & a {
        margin-right: .4rem;
    }
}

