.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-bottom: $section-margin;
}

.header-nav {
    ul li {
        display: inline-block;
        margin-left: 2rem;
    }

    & a {
        font-size: 1.4em;
        font-weight: $bold-text;
        text-decoration: none;
        color: black;
        
        :hover {text-decoration: underline;}
    }

}